@model IEnumerable<reservationApp.Models.reservationModel>

@{
    ViewBag.Title = "setValues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>setValues</h2>


<table class="table">
    <tr>
        
    </tr>
</table>
